sudo: required
language: c
env: 
    global:
            - DOCKER_IMAGE=alectolytic/rpmbuilder
            - COPR_REPOSITORY=dvdmuckle/minsh
            - OS_ARCH=x86_64
    matrix:
            - OS_TYPE=fedora OS_DIST=fedora OS_VERSION=26
services:
        - docker
install: true

compiler:
        - gcc
script:
        - make && sudo make install && bash .test.sh
        - docker run -v ${PWD}:/sources -v ${PWD}:/output:Z ${DOCKER_IMAGE}:${OS_TYPE}-${OS_VERSION}
dist: trusty
notifications:
        irc:
                channels:
                        - "chat.freenode.net#dvdmuckle-bot-test"

after_success:
        - source ~/virtualenv/python2.7/bin/activate
        - pip install copr-cli simplejson jinja2
        - openssl aes-256-cbc -K $encrypted_403c23673bf1_key -iv $encrypted_403c23673bf1_iv -in .copr.enc -out .copr -d
        - copr-cli --config .copr build --nowait ${COPR_REPOSITORY} *.src.rpm
before_deploy:
        - sudo apt-get install alien
        - sudo alien *[^src].rpm
deploy:
        provider: packagecloud
        repository: "minsh"
        username: "dvdmuckle"
        dist: "ubuntu/trusty" "ubuntu/xenial"
#        token: "${PACKAGECLOUD_TOKEN}"
